[submodule "htdocs/includes/php-markdown"]
	path = htdocs/includes/php-markdown
	url = http://github.com/wolfie/php-markdown.git
[submodule "htdocs/includes/textile"]
	path = htdocs/includes/textile
	url = http://github.com/netcarver/textile.git
[submodule "htdocs/wiki-files"]
	path = htdocs/wiki-files
	url = http://github.com/hflicka/arden2bytecode.wiki.git
